{{- $config := dict -}}
{{- $_ := set $config "server" (dict
  "address" .Values.config.serverAddress
  "metricsPath" .Values.config.metricsPath
  "healthPath" .Values.config.healthPath
) -}}
{{- $_ := set $config "kubernetes" .Values.config.kubernetes -}}
{{- $_ := set $config "metrics" (dict "namespace" .Values.config.metricsNamespace) -}}
{{- $_ := set $config "leaderElection" .Values.config.leaderElection -}}
{{- $_ := set $config "logging" (dict
  "level" .Values.config.logLevel
  "format" .Values.config.logFormat
  "debug" .Values.config.debug
) -}}
{{- $_ := set $config "enabledCollectors" .Values.config.enabledCollectors -}}
{{- $_ := set $config "collectors" (dict
  "domain" .Values.config.domain
  "node" dict
  "pod" .Values.config.pod
  "imagepull" .Values.config.imagepull
  "zombie" .Values.config.zombie
  "cloudbalance" .Values.config.cloudbalance
) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "state-metrics.fullname" . }}
  labels:
    {{- include "state-metrics.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- $config | toYaml | nindent 4 }}
