apiVersion: v1
kind: Service
metadata:
  name: sealos-state-metric
  namespace: sealos-system
  labels:
    app: sealos-state-metric
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: sealos-state-metric
